<div>
  <link href="./contact-form.css" rel="stylesheet" />
  <div class="contact-form-contact">
    <div class="label-container label-root-class-name">
      <h6 class="label-text"><span>MESSAGE US</span></h6>
    </div>
    <h2 class="contact-form-text"><span>Type in the bellow form</span></h2>
    <span class="contact-form-text01 textXL">
      <span>
        They say there's no future for the street rascals, nothing for them,
        leave them to fall. But it isn't always how you would like it to be,
        especially when you do nothing for yourself.
      </span>
    </span>
    <div class="contact-form-form"></div>
    <form
      id="contact-form"
      action="https://getform.io/f/eaf82634-08d9-4b47-8d4c-1e1ce820a8ab"
      method="POST"
      class="contact-form-form1"
    >
      <h1 class="contact-form-text02"><span>Deixe-nos a sua mensagem</span></h1>
      <span class="contact-form-text03 textXL">
        <span>Por favor, preencha o formulário abaixo</span>
      </span>
      <span class="contact-form-text04 textXS"><span>NOME</span></span>
      <input
        type="text"
        name="Nome"
        placeholder="Introduza o seu nome"
        class="contact-form-textinput textSM input"
      />
      <span class="contact-form-text05 textXS"><span>CONTACTO</span></span>
      <input
        type="text"
        name="Contacto"
        placeholder="Introduza o seu contacto (email / telemóvel)"
        class="contact-form-textinput1 textSM input"
      />
      <span class="contact-form-text06 textXS"><span>ASSUNTO</span></span>
      <input
        type="text"
        name="Assunto"
        placeholder="Introduza o assunto"
        class="contact-form-textinput2 input textSM"
      />
      <span class="contact-form-text07 textXS"><span>MENSAGEM</span></span>
      <textarea
        cols="80"
        name="Mensagem"
        rows="6"
        placeholder="Introduza a sua mensagem"
        class="contact-form-textarea textSM textarea"
      ></textarea>
      <button type="submit" class="contact-form-button button textXS">
        <span><span>Enviar</span></span>
      </button>
    </form>
  </div>
</div>
