.blog-container {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}
.blog-story {
  width: 100%;
  display: flex;
  max-width: 1320px;
  grid-column: 3/11;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.blog-text {
  color: #94a3b8ff;
}
.blog-text02 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
}
.blog-image {
  width: 100%;
  box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.blog-text03 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blog-text04 {
  font-weight: 400;
  white-space: normal;
}
.blog-text07 {
  font-weight: 400;
  white-space: normal;
}
.blog-container01 {
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  border-left-width: 1px;
}
.blog-text09 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.blog-text10 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.blog-text11 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.blog-text12 {
  color: var(--dl-color-secondary-400);
}
.blog-text13 {
  display: inline;
  font-weight: 600;
  white-space: normal;
}
.blog-text14 {
  font-weight: 600;
}
.blog-text15 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-text16 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blog-text17 {
  white-space: normal;
}
.blog-image1 {
  width: 450px;
  align-self: center;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.blog-text18 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
  margin-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-text19 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blog-text20 {
  font-weight: 400;
  white-space: normal;
}
.blog-text23 {
  font-weight: 400;
  white-space: normal;
}
.blog-text26 {
  font-weight: 400;
  white-space: normal;
}
.blog-post {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 600px;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  flex-direction: column;
}
.blog-text27 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
}
.blog-divider {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.blog-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-triplequarter);
  align-items: center;
  margin-bottom: var(--dl-space-space-triplequarter);
  flex-direction: row;
  justify-content: space-between;
}
.blog-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blog-image2 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
}
.blog-container04 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text28 {
  color: var(--dl-color-secondary-300);
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.blog-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blog-text29 {
  color: var(--dl-color-secondary-500);
  font-weight: 400;
  line-height: 20px;
}
.blog-text30 {
  color: rgba(100, 116, 139,1);
  font-weight: 300;
  line-height: 1.625;
}
.blog-text31 {
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.blog-image3 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-container07 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
}
.blog-icon {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-top: 1px;
}
.blog-text32 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
.blog-icon2 {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-left: var(--dl-space-space-unit);
}
.blog-text33 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
.blog-icon4 {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-left: var(--dl-space-space-unit);
}
.blog-text34 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
.blog-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blog-image4 {
  width: 20px;
  object-fit: cover;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.blog-image5 {
  width: 20px;
  object-fit: cover;
  margin-left: -10px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.blog-image6 {
  width: 20px;
  object-fit: cover;
  margin-left: -10px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.blog-text35 {
  color: var(--dl-color-secondary-400);
  margin-left: 0.25rem;
}
.blog-divider1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.blog-text36 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
.blog-text37 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
.blog-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.blog-image7 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
}
.blog-textarea {
  color: var(--dl-color-secondary-400);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-color: rgba(203, 213, 225,1);
  border-radius: var(--dl-radius-radius-radius4);
}
.blog-textarea:focus {
  box-shadow: 0 0 0 2px #4AA4E3;
}
@media(max-width: 991px) {
  .blog-post {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .blog-story {
    width: 100%;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .blog-image1 {
    width: 80%;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
